$header-height = 102px
$filters-height = 65px

#portraits
  // This class toggles to open/close the video
  &.video
    #player-wrapper
      height: calc('100vh - ' + ($header-height + $filters-height))
      #player-container
        width: calc('((100vh - ' + ($header-height + $filters-height) + ') / 9) * 16')
