$header-height = 98px
$filter-height = 93px

#header
  .truth-logo
    height: 76px

.icon-arrow
  height: 23px

#portrait-sizer, .portrait
  padding: 0 $margin-tiny

// ******************************************************

// PORTRAITS

#portraits
  min-height: calc('100vh - ' + $header-height)

#portrait-sizer, .portrait
  padding: 0 $margin-tiny

#map-container
  min-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))
  max-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))

select.filter-select
  padding-left: 24px

.icon-select
  top: 11px
  width: 14px

.toggle-map
  .icon-arrow
    height: 16px

.icon-zoom
  width: 19px

// ******************************************************

// SINGLE

.single-content-container
  .wp-caption, img
    font-size: $font-size-small
    padding: $margin-basic 0
    img
      padding: 0
