#header
  .truth-logo
    height: 86px

.icon-arrow
  height: 28px

#portrait-sizer, .portrait
  padding: 0 $margin-tiny

// ******************************************************

// SINGLE

.single-content-container
  .wp-caption, img
    font-size: $font-size-small
    padding: $margin-basic 0
    img
      padding: 0
