$header-height = 54px
$filter-height = 41px
$transition-speed = 300ms

#main-container
  position: relative

// HEADER

#header
  .truth-logo
    height: 44px
    width: auto

#main-nav
  display: none
  ul
    justify-content: center

#mobile-menu
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $color-white
  z-index: 900
  transform: translateX(100%)
  transition: transform $transition-speed ease-in-out
  &.open
    transform: translateX(0%)
  .grid-column
    min-height: calc('100vh - ' + ($margin-small * 4))
    .grid-item
      margin-bottom: $margin-small

.menu-icon
  height: 16px

// ******************************************************

// Splash image

.full-splash-image
  height: 100vh
  background-size: cover
  background-position: center
  transition: height $transition-speed ease-out

// ******************************************************

// PORTRAITS
#portraits
  opacity: 1
  transition: opacity $transition-speed
  min-height: calc('100vh - ' + $header-height)
  overflow: hidden

  // This class toggles to show/hide the video (eg, when buffering)
  &.show
    #player-wrapper
      transition: none
    #player-container
      opacity: 1
      transition: opacity $transition-speed
      height: 100%
      transition: none

  // This class toggles to open/close the video
  &.video
    #player-wrapper
      width: 100%
    #player-container
      width: 100%

#player-wrapper
  position: relative
  display: block
  overflow: hidden
  height: 0
  text-align: center
  transition: height $transition-speed ease-out

#player-container
  overflow: hidden
  opacity: 0
  display: inline-block

  iframe
    height: 100%

#portraits-cover
  height: 0
  overflow: hidden
  transition: height $transition-speed ease-out
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: -100

.loading
  overflow: hidden
  max-width: 100vw
  max-height: 100vh

  #portraits
    opacity: 0
    position: relative
    z-index: -200

  #portraits-cover
    height: 100vh

#portrait-sizer, .portrait
  padding: 0 $margin-tiny
  a
    display: block
    position: relative
    font-size: 0

select.filter-select
  padding-bottom: 0
  border: 0
  text-transform: capitalize
  display: inline-block
  width: auto
  cursor: pointer
  padding-left: 10px

.icon-select
  position: absolute
  top: 6px
  width: 8px
  pointer-events: none

.toggle-map
  .icon-arrow
    height: 11px

#player-loader-wrapper
  position:absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: -1

#player-loader
  width: $margin-basic
  height: $margin-basic
  border: $margin-micro solid $color-black
  border-radius: $margin-basic
  border-top-color: $color-white
  animation: loader-rotate 1s linear infinite

@keyframes loader-rotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)

@media screen and (orientation: portrait)
  #portrait-sizer, .portrait
    width: 50%

@media screen and (orientation: landscape)
  #portrait-sizer, .portrait
    width: unquote('calc(100% / 3)')

// ******************************************************

// MAP
#portraits-map
  height: 80vh
  position: absolute
  top: 0
  left: 100%
  width: 100vw
  .container
    height: 100%

#map-container
  position: relative
  min-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))
  max-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))

#map-portraits-wrapper
  transition: min-height $transition-speed

  &.show-map
    min-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))

    #map-portraits-container
     transform: translateX(-100%)

#map-portraits-container
  position: relative
  transition: transform $transition-speed

.map-zoom-button
  transition: opacity $transition-speed
  &.disabled
    opacity: .2
    pointer-events: none

.icon-zoom
  width: 12px

// ******************************************************

// FORM

#support-form
  flex-wrap: nowrap

::-webkit-input-placeholder // @stylint ignore
  transition: opacity 100ms linear
  color: $color-black

::-moz-placeholder // @stylint ignore
  transition: opacity 100ms linear
  color: $color-black

:-ms-input-placeholder // @stylint ignore
  transition: opacity 100ms linear
  color: $color-black

:-moz-placeholder // @stylint ignore
  transition: opacity 100ms linear
  color: $color-black

input, select
  width: 100%
  border: 0
  background: transparent
  appearance: none
  border-bottom: 2px solid $color-black
  padding-bottom: 3px
  border-radius: 0
  margin-bottom: -4px
  font-weight: 500
  font-family: font-stack('Helvetica')
  &:focus
    outline: 0
  &:focus::-webkit-input-placeholder
    opacity: 0
  &:focus::-moz-placeholder
    opacity: 0
  &:focus:-ms-input-placeholder
    opacity: 0
  &:focus:-moz-placeholder
    opacity: 0

input[type='submit']
  cursor: pointer

.form-arrow
  background: transparent
  border: 0
  svg
    height: 20px

.paypal-form-holder
  form
    display: flex
    justify-content: flex-end

@media screen and (max-width: 440px)
  #i-want-to
    display: none

// ******************************************************

// SINGLE

.single-content-container
  .wp-caption, img
    padding: $margin-basic 0
  .wp-caption
    width: 100% !important
    font-size: $font-size-small
    text-align: center !important
    img
      margin-bottom: 1em
      padding: 0

.icon-arrow
  height: 14px

// ******************************************************

// SLIDER

.slick-container,
.slick-list
  overflow: visible

.slick-slide
  margin: 0 $margin-small
  max-width: 95vw
  max-height: 600px
  height: 50vw
  width: auto
  cursor: pointer
  &:focus
    outline: 0

.slick-dots
  width: 100%
  display: flex
  justify-content: center
  margin-top: $margin-small
  li
    button
      font-size: 0
      appearance: none
      background: $color-white
      height: $margin-basic
      width: $margin-basic
      border: $margin-micro solid $color-black
      border-radius: $margin-basic
      margin: 0 $margin-tiny
      cursor: pointer
      &:focus
        outline: 0
      &:hover
        background: $color-black
    &.slick-active
      button
        border: $margin-micro solid $color-white
        background: $color-black
