#main-conteiner
  position: relative
// HEADER
#logo-holder
  flex-grow: 1

#logo
  height: auto
  width: 80%
  max-width: 280px

#main-nav
  ul
    justify-content: center

// ******************************************************

// Splash image

.full-splash-image
  height: 100vh
  background-size: cover
  background-position: center
  transition: height 150ms ease-out

// ******************************************************

// PORTRAITS
#portraits
  opacity: 1
  transition: opacity 300ms

  // This class toggles to open/close the video
  &.video
    #player-wrapper
      height: 100vh

  // This class toggles to show/hide the video (eg, when buffering)
  &.show
    #player-container
      opacity: 1
      transition: opacity 500ms

#player-container
  overflow: hidden
  opacity: 0

  iframe
    width: 100%

#player-wrapper
  overflow: hidden
  height: 0
  transition: height 300ms ease-out, min-height 300ms ease-out


#portraits-cover
  height: 0
  overflow: hidden
  transition: height 300ms ease-out
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: -1

.loading
  overflow: hidden
  max-width: 100vw
  max-height: 100vh

  #portraits
    opacity: 0
    position: relative
    z-index: -2

  #portraits-cover
    height: 100vh
// ******************************************************

// MAP
#portraits-map
  height: 80vh
  position: absolute
  top: 0
  left: 100%
  width: 100vw

#map-container
  position: relative
  height: 80vh

#map-portraits-wrapper
  overflow: hidden

  &.show-map #map-portraits-container
    transform: translateX(-100%)

#map-portraits-container
  position: relative
  transition: transform 300ms



// ******************************************************

// FORM

#support-form
  flex-wrap: nowrap

::-webkit-input-placeholder // Chrome/Opera/Safari
  transition: opacity 100ms linear
  color: $color-black

::-moz-placeholder // Firefox 19+
  transition: opacity 100ms linear
  color: $color-black

:-ms-input-placeholder // IE 10+
  transition: opacity 100ms linear
  color: $color-black

:-moz-placeholder // Firefox 18-
  transition: opacity 100ms linear
  color: $color-black

input, select
  width: 100%
  border: 0
  background: transparent
  appearance: none
  border-bottom: 3px solid $color-black
  padding-bottom: 3px
  border-radius: 0
  margin-bottom: -4px
  font-weight: 500
  font-family: font-stack('Helvetica')
  &:focus
    outline: 0
  &:focus::-webkit-input-placeholder
    opacity: 0
  &:focus::-moz-placeholder
    opacity: 0
  &:focus:-ms-input-placeholder
    opacity: 0
  &:focus:-moz-placeholder
    opacity: 0

input[type='submit']
  cursor: pointer

.form-arrow
  background: transparent
  border: 0
  svg
    height: 20px

.paypal-form-holder
  form
    display: flex
    justify-content: flex-end

@media screen and (max-width: 440px)
  #i-want-to
    display: none
