$header-height = 60px
$filter-height = 41px
$transition-speed = 300ms

#main-container
  position: relative

// HEADER

#header
  .truth-logo
    height: 44px
    width: auto

#main-nav
  display: none
  ul
    justify-content: center

#mobile-menu
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $color-white
  z-index: 900
  transform: translateX(100%)
  transition: transform $transition-speed ease-in-out
  &.open
    transform: translateX(0%)
  .grid-column
    min-height: calc('100vh - ' + ($margin-basic * 4))

.menu-icon
  height: 16px

// ******************************************************

// Splash image

.full-splash-image
  height: 100vh
  background-size: cover
  background-position: center
  transition: height $transition-speed ease-out

// ******************************************************

// PORTRAITS
#portraits
  opacity: 1
  transition: opacity $transition-speed
  min-height: calc('100vh - ' + $header-height)
  overflow: hidden

  // This class toggles to show/hide the video (eg, when buffering)
  &.show
    #player-wrapper
      transition: none
    #player-container
      opacity: 1
      transition: opacity $transition-speed
      height: 100%
      transition: none

  // This class toggles to open/close the video
  &.video
    #player-wrapper
      width: 100%
    #player-container
      width: 100%

#player-wrapper
  display: block
  overflow: hidden
  height: 0
  text-align: center
  transition: height $transition-speed ease-out

#player-container
  overflow: hidden
  opacity: 0
  display: inline-block

  iframe
    height: 100%

#portraits-cover
  height: 0
  overflow: hidden
  transition: height $transition-speed ease-out
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: -100

.loading
  overflow: hidden
  max-width: 100vw
  max-height: 100vh

  #portraits
    opacity: 0
    position: relative
    z-index: -200

  #portraits-cover
    height: 100vh

#portrait-sizer, .portrait
  padding: 0 $margin-tiny
  a
    display: block
    position: relative
    font-size: 0

select.filter-select
  padding-bottom: 0
  border: none
  text-transform: capitalize
  display: inline-block
  width: auto
  cursor: pointer
  padding-left: 10px

.icon-select
  position: absolute
  top: 6px
  width: 8px
  pointer-events: none

.toggle-map
  .icon-arrow
    height: 11px

@media screen and (orientation: portrait)
  #portrait-sizer, .portrait
    width: 50%

@media screen and (orientation: landscape)
  #portrait-sizer, .portrait
    width: unquote('calc(100% / 3)')

// ******************************************************

// MAP
#portraits-map
  height: 80vh
  position: absolute
  top: 0
  left: 100%
  width: 100vw
  .container
    height: 100%

#map-container
  position: relative
  min-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))

#map-portraits-wrapper

  &.show-map #map-portraits-container
    transform: translateX(-100%)

#map-portraits-container
  position: relative
  transition: transform $transition-speed



// ******************************************************

// FORM

#support-form
  flex-wrap: nowrap

::-webkit-input-placeholder // Chrome/Opera/Safari
  transition: opacity 100ms linear
  color: $color-black

::-moz-placeholder // Firefox 19+
  transition: opacity 100ms linear
  color: $color-black

:-ms-input-placeholder // IE 10+
  transition: opacity 100ms linear
  color: $color-black

:-moz-placeholder // Firefox 18-
  transition: opacity 100ms linear
  color: $color-black

input, select
  width: 100%
  border: 0
  background: transparent
  appearance: none
  border-bottom: 2px solid $color-black
  padding-bottom: 3px
  border-radius: 0
  margin-bottom: -4px
  font-weight: 500
  font-family: font-stack('Helvetica')
  &:focus
    outline: 0
  &:focus::-webkit-input-placeholder
    opacity: 0
  &:focus::-moz-placeholder
    opacity: 0
  &:focus:-ms-input-placeholder
    opacity: 0
  &:focus:-moz-placeholder
    opacity: 0

input[type='submit']
  cursor: pointer

.form-arrow
  background: transparent
  border: 0
  svg
    height: 20px

.paypal-form-holder
  form
    display: flex
    justify-content: flex-end

@media screen and (max-width: 440px)
  #i-want-to
    display: none

// ******************************************************

// SINGLE

.single-content-container
  .wp-caption, img
    padding: $margin-basic 0
  .wp-caption
    width: 100% !important
    font-size: $font-size-small
    text-align: center !important
    img
      margin-bottom: 1em
      padding: 0

.icon-arrow
  height: 14px
