$header-height = 102px
$filters-height = 52px

@media (orientation: landscape)
  #portraits
    // This class toggles to open/close the video
    &.video
      #player-wrapper
        height: calc('100vh - ' + ($header-height + $filters-height))
        #player-container
          width: calc('((100vh - ' + ($header-height + $filters-height) + ') / 9) * 16')

// ******************************************************

.form-element
  border-bottom: 5px solid $color-black
  padding-bottom: 5px
  margin-bottom: -6px

.form-arrow
  svg
    height: 40px
