#header
  .truth-logo
    height: 68px

.icon-arrow
  height: 20px

.form-element
  border-bottom: 5px solid $color-black
  padding-bottom: 5px
  margin-bottom: -6px

.form-arrow
  svg
    height: 40px

// ******************************************************

// SINGLE
.single-content-container
  .wp-caption, img
    font-size: $font-size-small
    padding: $margin-basic 0
    img
      padding: 0
