$header-height = 88px
$filter-height = 80px

#header
  .truth-logo
    height: 68px

.icon-arrow
  height: 21px

.form-element
  border-bottom: 5px solid $color-black
  padding-bottom: 5px
  margin-bottom: -6px

.form-arrow
  svg
    height: 40px

input, select
  border-bottom-width: 3px

// ******************************************************

// PORTRAITS

#portraits
  min-height: calc('100vh - ' + $header-height)

#portrait-sizer, .portrait
  width: 20%
  padding: 0 $margin-tiny

#map-container
  min-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))
  max-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))

select.filter-select
  padding-left: 20px

.icon-select
  top: 8px
  width: 12px

.icon-zoom
  width: 17px

// ******************************************************

// SINGLE
.single-content-container
  .wp-caption, img
    font-size: $font-size-small
    padding: $margin-basic 0
    img
      padding: 0

// ******************************************************

// SLIDER

.slick-slide
  margin: 0 $margin-small

.slick-dots
  margin-top: $margin-small
  li
    button
      height: $margin-small
      width: $margin-small
      border: ($margin-micro / 2) solid $color-black
      border-radius: $margin-small
      margin: 0 $margin-tiny
    &.slick-active
      button
        border: ($margin-micro / 2) solid $color-black
