// HEADER

#logo-holder
  flex-grow: 0

#header
  .truth-logo
    height: 60px
    max-width: none

#mobile-menu
  &.open
    transform: translateX(100%)

#nav-toggle-holder
  display: none

#main-nav
  display: block
  ul
    justify-content: flex-end

// ******************************************************

.form-element
  border-bottom: 4px solid $color-black
  padding-bottom: 4px
  margin-bottom: -5px

.form-arrow
  svg
    height: 30px

// ******************************************************

// SINGLE

.single-content-container
  .wp-caption, img
    font-size: $font-size-small
    padding: $margin-basic 0
    img
      padding: 0

.icon-arrow
  height: 18px
