$header-height = 75.5px
$filter-height = 63px

// HEADER

#logo-holder
  flex-grow: 0

#header
  .truth-logo
    height: 60px
    max-width: none

#mobile-menu
  &.open
    transform: translateX(100%)

#nav-toggle-holder
  display: none

#main-nav
  display: block
  ul
    justify-content: flex-end

// ******************************************************

// PORTRAITS

#portraits
  min-height: calc('100vh - ' + $header-height)

#portrait-sizer, .portrait
  width: 25%
  padding: 0 $margin-tiny

#map-container
  min-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))
  max-height: calc('100vh - ' + ($header-height + $filter-height + $margin-small))

#map-portraits-wrapper

  &.show-map
    min-height: calc('100vh - ' + $header-height)

select.filter-select
  padding-left: 14px

.icon-select
  top: 8px
  width: 10px

.toggle-map
  .icon-arrow
    height: 12px

.icon-zoom
  width: 15px

// ******************************************************

.form-element
  border-bottom: 4px solid $color-black
  padding-bottom: 4px
  margin-bottom: -5px

.form-arrow
  svg
    height: 30px

// ******************************************************

// SINGLE

.single-content-container
  .wp-caption, img
    font-size: $font-size-small
    padding: $margin-basic 0
    img
      padding: 0

.icon-arrow
  height: 18px

// ******************************************************

// SLIDER

.slick-slide
  margin: 0 $margin-small

.slick-dots
  margin-top: $margin-small
  li
    button
      height: $margin-small
      width: $margin-small
      border: ($margin-micro / 2) solid $color-black
      border-radius: $margin-small
      margin: 0 $margin-tiny
    &.slick-active
      button
        border: ($margin-micro / 2) solid $color-black
